html{
    background-color: #fff0c9;
}
h1{
    font-family: "Great Vibes", cursive;
    font-weight: bold;
    font-size: 80px;
    font-style: normal;
    text-decoration: solid;
    text-decoration: underline;
    margin-left: 20px;
    text-shadow: 5px 5px 3px #FFC7ED;
}
.button{
    position: relative;
    border-bottom: 20px;
    border-left: 20px;
    background-color: rgba(170, 125, 52, 0.968);
    padding: 5px;
    border: none;
    border-radius: 5px;
}
#container{
    border: 10px;
    margin: 20px;
}
.sides{
    width: 320px;
    border-radius: 15px;
}
.sides:hover{
    box-shadow: 10px 10px 10px 10px #E3A5C7;
}
.middle{
    display: flex;
}
.above,.below{
    width: 300px;
    height: 300px;
    border-radius: 50%;
}
.top,.bottom{
    display: flex;
    gap: 180px;
}
.row:hover{
    transform: scale(1.2,1.2);
    box-shadow: 0px 5px 5px 5px #F0A8D0;
}
button:hover{
    transform: scale(1.2,1.2);
    box-shadow:3px 3px 3px 3px rgba(170, 125, 52, 0.968);
}
#love{
    padding: 30px;
    font-family: "Indie Flower", system-ui;;
    font-weight: bolder;
}
#love:hover{
    text-shadow: 4px 4px 4px #71414196;
    transform: scale(1.1,1.1);
    padding: 30px;
}

@media (min-width: 300px) and (max-width: 500px){
    h1{
        font-size: 35px;
    }
    .button{
        border-bottom: 30px;
    }
    .above,.below{
        width: 30px;
        height: 30px;
        border-radius: 50%;
        display: flex;
        gap: none;
    }
    .sides{
        width: 120px;
        height: 360px;
        border-radius: 15px;
    }
    .right,.middler,.left{
        display: flex;
        flex-direction: column;
        gap: none;
    }
    .text{
        width: 120px;
        height: 360px;
    }
    #love{
        font-size: 4.5px;
    }
    .container{
        display: flex;
        justify-content: center;
        align-items: center;
    }
}